///
/// Teikn v0.1.4
/// Generated Thu Oct 10 2019 15:5:32
///
/// This file is generated and should be commited to source control
///


// prettier-ignore
$token-values: (
  color-primary: rgb(39, 54, 83),

  color-secondary: rgb(218, 234, 232),

  color-accent: rgb(70, 182, 255),

  color-background: rgb(254, 254, 254),

  color-surface: rgb(254, 254, 254),

  color-button-primary: rgb(70, 182, 255),

  color-error: rgb(254, 74, 73),

  color-disabled: rgb(153, 152, 152),

  color-on-primary: rgb(254, 254, 254),

  color-on-secondary: rgb(1, 1, 1),

  color-on-accent: rgb(254, 254, 254),

  color-on-background: rgb(1, 1, 1),

  color-on-surface: rgb(31, 86, 68),

  color-on-surface-light: rgb(241, 239, 239),

  color-on-error: rgb(254, 254, 254),

  color-on-disabled: rgb(254, 254, 254),

  color-text-dark-primary: rgba(142, 146, 156, 0.87),

  color-text-dark-secondary: rgba(89, 88, 88, 0.87),

  color-text-dark-hint: rgba(142, 146, 156, 0.38),

  color-text-dark-disabled: rgba(142, 146, 156, 0.38),

  color-text-dark-icon: rgba(142, 146, 156, 0.38),

  color-text-light-primary: rgb(255, 255, 255),

  color-text-light-secondary: rgba(255, 255, 255, 0.7),

  color-text-light-hint: rgba(255, 255, 255, 0.5),

  color-text-light-disabled: rgba(255, 255, 255, 0.5),

  color-text-light-icon: rgba(255, 255, 255, 0.5),

  font-h-1: unquote('#{700 3rem / 1.2 OpenSans, Galano, Verdana, sans-serif}'),

  font-h-2: unquote('#{700 2.25rem / 1.2 OpenSans, Galano, Verdana, sans-serif}'),

  font-h-3: unquote('#{700 1.5rem / 1.2 OpenSans, Galano, Verdana, sans-serif}'),

  font-h-4: unquote('#{700 1.25rem / 1.2 OpenSans, Galano, Verdana, sans-serif}'),

  font-h-5: unquote('#{700 1rem / 1.2 OpenSans, Galano, Verdana, sans-serif}'),

  font-h-6: unquote('#{700 0.75rem / 1.2 OpenSans, Galano, Verdana, sans-serif}'),

  font-subtitle: unquote('#{700 1.125rem / 1.2 OpenSans, "Maison Neue", Helvetica, sans-serif}'),

  font-subtitle-small: unquote('#{700 0.875rem / 1.2 OpenSans, "Maison Neue", Helvetica, sans-serif}'),

  font-body: unquote('#{500 1rem / 1.2 OpenSans, "Maison Neue", Helvetica, sans-serif}'),

  font-body-small: unquote('#{500 0.875rem / 1.2 OpenSans, "Maison Neue", Helvetica, sans-serif}'),

  font-body-tiny: unquote('#{500 0.8125rem / 1.2 OpenSans, "Maison Neue", Helvetica, sans-serif}'),

  font-button-large: unquote('#{700 1.25rem / 1.2 OpenSans, Galano, Verdana, sans-serif}'),

  font-button: unquote('#{700 0.9375rem / 1.2 OpenSans, Galano, Verdana, sans-serif}'),

  font-overline: unquote('#{500 0.75rem / 1.2 OpenSans, "Maison Neue", Helvetica, sans-serif}'),

  font-legal: unquote('#{500 0.625rem / 1.2 OpenSans, "Maison Neue", Helvetica, sans-serif}'),

  font-family-h-1: unquote('#{OpenSans, Galano, Verdana, sans-serif}'),

  font-family-h-2: unquote('#{OpenSans, Galano, Verdana, sans-serif}'),

  font-family-h-3: unquote('#{OpenSans, Galano, Verdana, sans-serif}'),

  font-family-h-4: unquote('#{OpenSans, Galano, Verdana, sans-serif}'),

  font-family-h-5: unquote('#{OpenSans, Galano, Verdana, sans-serif}'),

  font-family-h-6: unquote('#{OpenSans, Galano, Verdana, sans-serif}'),

  font-family-subtitle: unquote('#{OpenSans, "Maison Neue", Helvetica, sans-serif}'),

  font-family-subtitle-small: unquote('#{OpenSans, "Maison Neue", Helvetica, sans-serif}'),

  font-family-body: unquote('#{OpenSans, "Maison Neue", Helvetica, sans-serif}'),

  font-family-body-small: unquote('#{OpenSans, "Maison Neue", Helvetica, sans-serif}'),

  font-family-body-tiny: unquote('#{OpenSans, "Maison Neue", Helvetica, sans-serif}'),

  font-family-button-large: unquote('#{OpenSans, Galano, Verdana, sans-serif}'),

  font-family-button: unquote('#{OpenSans, Galano, Verdana, sans-serif}'),

  font-family-overline: unquote('#{OpenSans, "Maison Neue", Helvetica, sans-serif}'),

  font-family-legal: unquote('#{OpenSans, "Maison Neue", Helvetica, sans-serif}'),

  font-weight-h-1: 700,

  font-weight-h-2: 700,

  font-weight-h-3: 700,

  font-weight-h-4: 700,

  font-weight-h-5: 700,

  font-weight-h-6: 700,

  font-weight-subtitle: 700,

  font-weight-subtitle-small: 700,

  font-weight-body: 500,

  font-weight-body-small: 500,

  font-weight-body-tiny: 500,

  font-weight-button: 700,

  font-weight-button-large: 700,

  font-weight-overline: 500,

  font-weight-legal: 500,

  font-size-h-1: 3rem,

  font-size-h-2: 2.25rem,

  font-size-h-3: 1.5rem,

  font-size-h-4: 1.25rem,

  font-size-h-5: 1rem,

  font-size-h-6: 0.75rem,

  font-size-subtitle: 1.125rem,

  font-size-subtitle-small: 0.875rem,

  font-size-body: 1rem,

  font-size-body-small: 0.875rem,

  font-size-body-tiny: 0.8125rem,

  font-size-button-large: 1.25rem,

  font-size-button: 0.9375rem,

  font-size-overline: 0.75rem,

  font-size-legal: 0.625rem,

  letter-spacing-h-1: normal,

  letter-spacing-h-2: normal,

  letter-spacing-h-3: normal,

  letter-spacing-h-4: normal,

  letter-spacing-h-5: normal,

  letter-spacing-h-6: normal,

  letter-spacing-subtitle: normal,

  letter-spacing-subtitle-small: normal,

  letter-spacing-body: normal,

  letter-spacing-body-small: normal,

  letter-spacing-body-tiny: normal,

  letter-spacing-button-large: normal,

  letter-spacing-button: normal,

  letter-spacing-overline: normal,

  letter-spacing-legal: normal,

  /// For things like switches, control boxes, etc...
  duration-simple-small: 0.1s,

  /// For small dialogs, alerts, etc...
  duration-simple-small-enter: .15s,

  /// For small dialogs, alerts, etc...
  duration-simple-small-exit: 0.075s,

  /// For card transforms, etc...
  duration-simple-medium: 0.225s,

  /// For card transforms, etc...
  duration-simple-medium-enter: 0.25s,

  /// For card transforms, etc...
  duration-simple-medium-exit: 0.2s,

  /// For page transforms, etc...
  duration-simple-large: 0.275s,

  /// For card transforms, etc...
  duration-simple-large-enter: 0.3s,

  /// For card transforms, etc...
  duration-simple-large-exit: 0.25s,

  timing-curve-decelerate: cubic-bezier(0, 0, .2, 1),

  timing-curve-accelerate: cubic-bezier(.4, 0, 1, 1),

  timing-curve-standard: cubic-bezier(.4, 0, .2, 1),

  timing-curve-sharp: cubic-bezier(.4, 0, .6, 1),

  /// For items that should be on the page but not visible
  elevation-z-hidden: -1,

  /// Used for setting a standard z-index
  elevation-z-default: 1,

  /// used for dropdowns
  elevation-z-dropdown: 1000,

  /// Used for overlays and things that are supposed to mask the page so that other things above them can be afforded visual focus
  elevation-z-overlay: 5000,

  /// For popups and other modal elements with a high elevation
  elevation-z-modal: 6000,

  /// Use for more prominent text
  emphasis-high: 0.87,

  /// Use for secondary text
  emphasis-medium: 0.6,

  /// Use for hints and things that are disabled
  emphasis-disabled: 0.38,


);



@function get-token($name) {
  @if (not map-has-key($token-values, $name)) {
    @error "Token '#{$name}' does not exist.";
  }
  @return map-get($token-values, $name);
}  
