///
/// Teikn v0.1.4
/// Generated Mon Dec 17 2018 10:52:13
///
/// This file is generated and should be commited to source control
///


// prettier-ignore
$token-values: (
  color-primary: rgb(31, 86, 68),

  color-secondary: rgb(218, 234, 232),

  color-accent: rgb(0, 170, 165),

  color-background: rgb(254, 254, 254),

  color-surface: rgb(228, 228, 228),

  color-error: rgb(254, 74, 73),

  color-disabled: rgb(153, 152, 152),

  color-on-primary: rgb(254, 254, 254),

  color-on-secondary: rgb(1, 1, 1),

  color-on-accent: rgb(254, 254, 254),

  color-on-background: rgb(1, 1, 1),

  color-on-surface: rgb(31, 86, 68),

  color-on-error: rgb(254, 254, 254),

  color-on-disabled: rgb(254, 254, 254),

  color-text-dark-primary: rgba(0, 0, 0, 0.87),

  color-text-dark-secondary: rgba(0, 0, 0, 0.6),

  color-text-dark-hint: rgba(0, 0, 0, 0.38),

  color-text-dark-disabled: rgba(0, 0, 0, 0.38),

  color-text-dark-icon: rgba(0, 0, 0, 0.38),

  color-text-light-primary: rgb(255, 255, 255),

  color-text-light-secondary: rgba(255, 255, 255, 0.7),

  color-text-light-hint: rgba(255, 255, 255, 0.5),

  color-text-light-disabled: rgba(255, 255, 255, 0.5),

  color-text-light-icon: rgba(255, 255, 255, 0.5),

  font-h-1: unquote('#{700 4.5rem / 1.2 Galano, Verdana, sans-serif}'),

  font-h-2: unquote('#{700 3rem / 1.2 Galano, Verdana, sans-serif}'),

  font-h-3: unquote('#{700 2.25rem / 1.2 Galano, Verdana, sans-serif}'),

  font-h-4: unquote('#{700 1.75rem / 1.2 Galano, Verdana, sans-serif}'),

  font-h-5: unquote('#{700 1.5rem / 1.2 Galano, Verdana, sans-serif}'),

  font-h-6: unquote('#{600 1.25rem / 1.2 Galano, Verdana, sans-serif}'),

  font-subtitle: unquote('#{400 1rem / 1.2 "Maison Neue", Helvetica, sans-serif}'),

  font-subtitle-small: unquote('#{600 0.875rem / 1.2 "Maison Neue", Helvetica, sans-serif}'),

  font-body: unquote('#{400 1rem / 1.2 "Maison Neue", Helvetica, sans-serif}'),

  font-body-small: unquote('#{400 0.875rem / 1.2 "Maison Neue", Helvetica, sans-serif}'),

  font-button: unquote('#{600 0.875rem / 1.2 "Maison Neue", Helvetica, sans-serif}'),

  font-caption: unquote('#{400 0.75rem / 1.2 "Maison Neue", Helvetica, sans-serif}'),

  font-overline: unquote('#{400 0.625rem / 1.2 "Maison Neue", Helvetica, sans-serif}'),

  font-family-h-1: unquote('#{Galano, Verdana, sans-serif}'),

  font-family-h-2: unquote('#{Galano, Verdana, sans-serif}'),

  font-family-h-3: unquote('#{Galano, Verdana, sans-serif}'),

  font-family-h-4: unquote('#{Galano, Verdana, sans-serif}'),

  font-family-h-5: unquote('#{Galano, Verdana, sans-serif}'),

  font-family-h-6: unquote('#{Galano, Verdana, sans-serif}'),

  font-family-subtitle: unquote('#{"Maison Neue", Helvetica, sans-serif}'),

  font-family-subtitle-small: unquote('#{"Maison Neue", Helvetica, sans-serif}'),

  font-family-body: unquote('#{"Maison Neue", Helvetica, sans-serif}'),

  font-family-body-small: unquote('#{"Maison Neue", Helvetica, sans-serif}'),

  font-family-button: unquote('#{"Maison Neue", Helvetica, sans-serif}'),

  font-family-caption: unquote('#{"Maison Neue", Helvetica, sans-serif}'),

  font-family-overline: unquote('#{"Maison Neue", Helvetica, sans-serif}'),

  font-weight-h-1: 700,

  font-weight-h-2: 700,

  font-weight-h-3: 700,

  font-weight-h-4: 700,

  font-weight-h-5: 700,

  font-weight-h-6: 600,

  font-weight-subtitle: 400,

  font-weight-subtitle-small: 600,

  font-weight-body: 400,

  font-weight-body-small: 400,

  font-weight-button: 600,

  font-weight-caption: 400,

  font-weight-overline: 400,

  font-size-h-1: 4.5rem,

  font-size-h-2: 3rem,

  font-size-h-3: 2.25rem,

  font-size-h-4: 1.75rem,

  font-size-h-5: 1.5rem,

  font-size-h-6: 1.25rem,

  font-size-subtitle: 1rem,

  font-size-subtitle-small: 0.875rem,

  font-size-body: 1rem,

  font-size-body-small: 0.875rem,

  font-size-button: 0.875rem,

  font-size-caption: 0.75rem,

  font-size-overline: 0.625rem,

  letter-spacing-h-1: -0.09375rem,

  letter-spacing-h-2: -0.03125rem,

  letter-spacing-h-3: 0rem,

  letter-spacing-h-4: 0.015625rem,

  letter-spacing-h-5: 0rem,

  letter-spacing-h-6: 0.009375rem,

  letter-spacing-subtitle: 0.009375rem,

  letter-spacing-subtitle-small: 0.00625rem,

  letter-spacing-body: 0.03125rem,

  letter-spacing-body-small: 0.015625rem,

  letter-spacing-button: 0.078125rem,

  letter-spacing-caption: 0.025rem,

  letter-spacing-overline: 0.09375rem,

  /// For things like switches, control boxes, etc...
  duration-simple-small: 0.1s,

  /// For small dialogs, alerts, etc...
  duration-simple-small-enter: .15s,

  /// For small dialogs, alerts, etc...
  duration-simple-small-exit: 0.075s,

  /// For card transforms, etc...
  duration-simple-medium: 0.225s,

  /// For card transforms, etc...
  duration-simple-medium-enter: 0.25s,

  /// For card transforms, etc...
  duration-simple-medium-exit: 0.2s,

  /// For page transforms, etc...
  duration-simple-large: 0.275s,

  /// For card transforms, etc...
  duration-simple-large-enter: 0.3s,

  /// For card transforms, etc...
  duration-simple-large-exit: 0.25s,

  timing-curve-decelerate: cubic-bezier(0, 0, .2, 1),

  timing-curve-accelerate: cubic-bezier(.4, 0, 1, 1),

  timing-curve-standard: cubic-bezier(.4, 0, .2, 1),

  timing-curve-sharp: cubic-bezier(.4, 0, .6, 1),

  /// For items that should be on the page but not visible
  elevation-z-hidden: -1,

  /// Used for setting a standard z-index
  elevation-z-default: 1,

  /// used for dropdowns
  elevation-z-dropdown: 1000,

  /// Used for overlays and things that are supposed to mask the page so that other things above them can be afforded visual focus
  elevation-z-overlay: 5000,

  /// For popups and other modal elements with a high elevation
  elevation-z-modal: 6000,

  /// Use for more prominent text
  emphasis-high: 0.87,

  /// Use for secondary text
  emphasis-medium: 0.6,

  /// Use for hints and things that are disabled
  emphasis-disabled: 0.38,


);



@function get-token($name) {
  @if (not map-has-key($token-values, $name)) {
    @error "Token '#{$name}' does not exist.";
  }
  @return map-get($token-values, $name);
}  
