///
/// Teikn v0.1.1
/// Generated Tue Nov 06 2018 16:32:17
///
/// This file is generated and should be commited to source control
///


$color-primary: #1f5644;

$color-secondary: #daeae8;

$color-accent: #00aaa5;

$color-background: #fefefe;

$color-surface: #e4e4e4;

$color-error: #b00020;

$color-on-primary: #fefefe;

$color-on-secondary: #010101;

$color-on-accent: #fefefe;

$color-on-background: #010101;

$color-on-surface: #010101;

$color-on-error: #fefefe;

$color-text-dark-primary: #000000;

$color-text-dark-secondary: #000000;

$color-text-dark-hint: #000000;

$color-text-dark-disabled: #000000;

$color-text-dark-icon: #000000;

$color-text-light-primary: #ffffff;

$color-text-light-secondary: #ffffff;

$color-text-light-hint: #ffffff;

$color-text-light-disabled: #ffffff;

$color-text-light-icon: #ffffff;

$font-family-h-1: Galano, Verdana, sans-serif;

$font-family-h-2: Galano, Verdana, sans-serif;

$font-family-h-3: Galano, Verdana, sans-serif;

$font-family-h-4: Galano, Verdana, sans-serif;

$font-family-h-5: Galano, Verdana, sans-serif;

$font-family-h-6: Galano, Verdana, sans-serif;

$font-family-subtitle: Maison Nueue, Helvetica, sans-serif;

$font-family-subtitle-small: Maison Nueue, Helvetica, sans-serif;

$font-family-body: Maison Nueue, Helvetica, sans-serif;

$font-family-body-small: Maison Nueue, Helvetica, sans-serif;

$font-family-button: Maison Nueue, Helvetica, sans-serif;

$font-family-caption: Maison Nueue, Helvetica, sans-serif;

$font-family-overline: Maison Nueue, Helvetica, sans-serif;

$font-weight-h-1: 300;

$font-weight-h-2: 300;

$font-weight-h-3: 400;

$font-weight-h-4: 400;

$font-weight-h-5: 400;

$font-weight-h-6: 500;

$font-weight-subtitle: 400;

$font-weight-subtitle-small: 500;

$font-weight-body: 400;

$font-weight-body-small: 400;

$font-weight-button: 500;

$font-weight-caption: 400;

$font-weight-overline: 400;

$font-size-h-1: 6rem;

$font-size-h-2: 3.75rem;

$font-size-h-3: 3rem;

$font-size-h-4: 2.125rem;

$font-size-h-5: 1.5rem;

$font-size-h-6: 1.25rem;

$font-size-subtitle: 1rem;

$font-size-subtitle-small: 0.875rem;

$font-size-body: 1rem;

$font-size-body-small: 0.875rem;

$font-size-button: 0.875rem;

$font-size-caption: 0.75rem;

$font-size-overline: 0.625rem;

/// For things like switches, control boxes, etc...
$duration-simple-small: 0.1s;

/// For small dialogs, alerts, etc...
$duration-simple-small-enter: .15s;

/// For small dialogs, alerts, etc...
$duration-simple-small-exit: 0.075s;

/// For card transforms, etc...
$duration-simple-medium: 0.225s;

/// For card transforms, etc...
$duration-simple-medium-enter: 0.25s;

/// For card transforms, etc...
$duration-simple-medium-exit: 0.2s;

/// For page transforms, etc...
$duration-simple-large: 0.275s;

/// For card transforms, etc...
$duration-simple-large-enter: 0.3s;

/// For card transforms, etc...
$duration-simple-large-exit: 0.25s;

$timing-curve-decelerate: cubic-bezier(0, 0, .2, 1);

$timing-curve-accelerate: cubic-bezier(.4, 0, 1, 1);

$timing-curve-standard: cubic-bezier(.4, 0, .2, 1);

$timing-curve-sharp: cubic-bezier(.4, 0, .6, 1);

/// For items that should be on the page but not visible
$elevation-z-hidden: -1;

/// Used for setting a standard z-index
$elevation-z-default: 1;

/// used for dropdowns
$elevation-z-dropdown: 1000;

/// Used for overlays and things that are supposed to mask the page so that other things above them can be afforded visual focus
$elevation-z-overlay: 5000;

/// For popups and other modal elements with a high elevation
$elevation-z-modal: 6000;

/// Use for more prominent text
$emphasis-high: 0.87;

/// Use for secondary text
$emphasis-medium: 0.6;

/// Use for hints and things that are disabled
$emphasis-disabled: 0.38;